<customer-detail *ngIf="selectedCustomer" [customer]=selectedCustomer></customer-detail>

<div class="card bg-light mb-3 mt-4">
	<div class="card-header">Customers</div>
	<div class="card-body">
		<div class="mb-4">
			<button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" name="button" class="btn btn-primary brn-rounded" [routerLink]="['/customers/form']">
				Create Customer
			</button>
		</div>
		<table class="table table-bordered" *ngIf="customers?.length > 0 else adviseIsEmpty">
			<thead>
				<tr>
					<th>
						<!--*ngIf="authService.hasRole('ROLE_USER')" -->
						#</th>
					<th>Name</th>
					<th>Surname</th>
					<th>Email</th>
					<th>Created At</th>
					<th *ngIf="authService.hasRole('ROLE_ADMIN')">Invoice</th>
					<th *ngIf="authService.hasRole('ROLE_ADMIN')">Edit</th>
					<th *ngIf="authService.hasRole('ROLE_ADMIN')">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let customer of customers">
					<td style="width: 100px">
						<!--*ngIf="authService.hasRole('ROLE_USER')" -->
						<img style="width: 64px;cursor:pointer;" class="img-thumbnail rounded" (click)="selectCustomer(customer)" [src]="customer.avatar != null? url+'/api/uploads/img/' + customer.avatar : 'https://api.adorable.io/avatars/64/'+customer.email"
							alt="">

						<!--<button class="btn col-sm btn-primary">
							[routerLink]="['/customers', customer.getId()]"
							{{customer.getId()}}
						</button>-->
					</td>
					<td>{{customer.name}}</td>
					<td>{{customer.surname | uppercase}}</td>
					<td>{{customer.email}}</td>
					<td>{{customer.createdAt | date:'EEEE dd, MMMM yyyy'}}</td>
					<td style="width: 100px" *ngIf="authService.hasRole('ROLE_ADMIN')">
						<button type="button" name="button" class="btn col-sm btn-info" [routerLink]="['/invoices/form/', customer.id]">New</button>
					</td>
					<td style="width: 100px" *ngIf="authService.hasRole('ROLE_ADMIN')">
						<button type="button" name="button" class="btn col-sm btn-success" [routerLink]="['/customers/form/', customer.id]">Edit</button>
					</td>
					<td style="width: 40px" *ngIf="authService.hasRole('ROLE_ADMIN')">
						<button type="button" name="button" class="btn col-sm btn-danger" (click)="delete(customer)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
		<ng-template #adviseIsEmpty>
			<div class="alert alert-info">
				<h5>Does not exist any customer</h5>
			</div>
		</ng-template>
		<paginator-nav *ngIf="paginator" [paginator]="paginator"></paginator-nav>
	</div>
</div>