<div class="card bg-light mb-3 mt-4">
	<div class="card-header">Customers</div>
	<div class="card-body">
		<div class="mb-4">
			<button type="button" name="button" class="btn btn-primary brn-rounded" [routerLink]="['/customers/form']">
				Create Customer
			</button>
		</div>
		<table class="table table-bordered" *ngIf="customers?.length > 0 else adviseIsEmpty">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Surname</th>
					<th>Email</th>
					<th>Created At</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let customer of customers">
					<td><button [routerLink]="['/customers', customer.getId()]" class="btn col-sm btn-primary">{{customer.getId()}}</button></td>
					<td>{{customer.getName()}}</td>
					<td>{{customer.getSurname() | uppercase}}</td>
					<td>{{customer.getEmail()}}</td>
					<td>{{customer.getCreatedAt() | date:'EEEE dd, MMMM yyyy'}}</td>
					<td>

						<button type="button" name="button" class="btn col-sm btn-success" [routerLink]="['/customers/form/', customer.getId()]">Edit</button>

					</td>
					<td>

						<button type="button" name="button" class="btn col-sm btn-danger" (click)="delete(customer)">Delete</button>

					</td>
				</tr>
			</tbody>
		</table>
		<ng-template #adviseIsEmpty>
			<div class="alert alert-info">
				<h5>Does not exist any customer</h5>
			</div>
		</ng-template>
		<paginator-nav *ngIf="paginator" [paginator]="paginator"></paginator-nav>
	</div>
</div>